# ==========================
# ZUU - RUTAS DEL PROYECTO
# ==========================

# STT - Vosk
VOSK_MODEL_PATH=model/vosk-model-es-0.42

# Base de datos y RAG
DATABASE_PATH=data/zuu.db
XML_DIR=data/rag

# Audio
AUDIO_INPUT_PATH=data/audio/input.wav
AUDIO_OUTPUT_PATH=data/audio/output.wav
AUDIO_OUTPUT_XTTS_PATH=data/audio/output_xtts.wav

# TTS - Piper
PIPER_VOICE_MODEL_PATH=voices/test_epoch10100/zuu_10100.onnx

# TTS - XTTS
XTTS_SPEAKER_WAV_PATH=voices/my_voice/referencia.wav
XTTS_SPEAKER_DIR=voices/xtts_samples